nav(class="site-nav")
  a(class="site-nav-link" href="/") Leaderboard
  a(class="site-nav-link" href="/top-tracks") Top Tracks
  a(class="site-nav-link" href="/activity") Activity
  a(class="site-nav-link" href="/help") Help
  a(class="site-nav-link" href="/api/docs") API
