const config = {
  db: {
    host: "127.0.0.1",
    user: "username",
    password: "hunter2",
    database: "ircbot",
    connectTimeout: 60000
  },
  cytube: {
    server: "https://cytu.be",
    channel: "MusicBox",
  },
  listPerPage: 10000,
};

module.exports = config;
