doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title API Docs - MusicBox IRC
  body(style="margin:0;")
    div(id="redoc-container")
    script(src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js")
    script.
      Redoc.init('/openapi.yaml', {
        hideDownloadButton: true
      }, document.getElementById('redoc-container'))
