doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/app.css")
    title MusicBox Help
  body
    header(class="header")
      hgroup
        h1 MusicBox Help
        h2 Commands &amp; Info
    section(class="help-content")
      != content
