extends layouts/app

block title
  title Leaderboard - MusicBox IRC

block body
  h2 Top 50 Contributors
  p=`${totalSongs.data} unique songs collected`
  section(class="list leaderboard")
    each user, index in users.data
      - let rank = index + 1
      div(class="list-row")
        span(class="accent")=`${rank}.`
        span(class="nickname ellipsis")
          a(href=`/links?nickname=${user.nickname}` title=user.nickname)=user.nickname
        span(class="dim")=`${user.video_count} songs`
