doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/app.css")
    title MusicBox Leaderboard
  body
    header(class="header")
      hgroup
        h1 MusicBox Leaderboard
        h2 Top 50
    section(class="leaderboard")
      each user, index in users.data
        div
          span(class="leaderboard-number")= index + 1 + "."
          span(class="leaderboard-nickname")= user.nickname
          span(class="leaderboard-video-count")= user.video_count
