extends layouts/app

block title
  title PP Leaderboard - MusicBox IRC

block body
  h2 PP Leaderboard
  p Ranked by PP score (total relinks)
  section(class="list")
    each entry, index in rankings.data
      - const pageNum = parseInt(rankings.meta.page, 10) || 1;
      - let rank = (pageNum - 1) * rankings.meta.perPage + index + 1;
      div(class="list-row")
        span(class="accent")=`${rank}.`
        span(class="nickname ellipsis")
          a(href=`/links?nickname=${entry.nickname}` title=entry.nickname)=entry.nickname
        span(class="dim")=`${entry.pp_score} PP`
  - const meta = rankings.meta; const basePath = '/peepee'; const queryPrefix = '';
  include includes/pagination
