doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href=`/app.css?v=${v}`)
    title MusicBox PP Leaderboard
  body
    header(class="header")
      include includes/nav
      hgroup
        h1 PP Leaderboard
        h2 Ranked by PP score (total plays)
    section(class="leaderboard")
      each entry, index in rankings.data
        div
          span(class="leaderboard-number")= index + 1 + "."
          span(class="leaderboard-nickname")
            a(href='/links?nickname=' + entry.nickname)= entry.nickname
          span(class="leaderboard-video-count")= entry.pp_score + ' PP'
