* {
    box-sizing: border-box;
}

:root {
    --color-darkest: #0d0d0d;
    --color-darker: #161616;
    --color-dark: #1e1e1e;
    --color-accent-light: #4ade80;
    --color-accent-dark: #0D682F;
    --color-lightest: #f5f5f5;
    --color-lighter: #ededed;
    --color-light:   #d4d4d4;
    --color-neutral-dark: #808080;
    --color-neutral-light: #545454;

    scrollbar-gutter: stable;
    color-scheme: dark;
}

[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

::selection {
    background: light-dark(var(--color-accent-dark), var(--color-accent-light));
    color: light-dark(var(--color-lightest), var(--color-darkest));
}

@font-face {
    font-family: 'Syne';
    src:
        url('../assets/fonts/Syne-VariableFont_wght.woff2') format('woff2'),
        url('../assets/fonts/Syne-VariableFont_wght.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'DM-Mono';
    src:
        url('../assets/fonts/DMMono-Regular.woff2') format('woff2'),
        url('../assets/fonts/DMMono-Regular.woff') format('woff');
    font-display: swap;
}

html,
body {
    min-height: 100svh;
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
}

body {
    font-family: 'DM-Mono', monospace;
    font-size: 14px;
    background: light-dark(var(--color-lighter), var(--color-darkest));
    color: light-dark(var(--color-dark), var(--color-lighter));
    line-height: 1.4;
    margin: 0;
    padding-bottom: 3rem;
    overflow-y: scroll;
}

h1,
h2 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1;
    word-wrap: break-word;
    margin-block: 0.5rem;
    text-wrap: balance;
}

h2[data-flagged="1"] {
    position: relative;

    &::before {
        content: '🏴‍☠';
        position: absolute;
        font-size: 1.1rem;
        top: -10px;
        left: -15px;
        border-radius: 100%;
        z-index: 1;
    }
}

h3 {
    margin-block: 1rem;
}

p {
    text-wrap: pretty;
}

h1 + p,
h2 + p {
    color: light-dark(var(--color-neutral-light), var(--color-neutral-dark));
    margin: 0 0 1.5rem;
}

h2:has(+ h3),
ul:has(+ h3),
p:has(+ h2),
p:has(+ h3),
.list:has(+ h3),
ul.tag-list:has(+ h3) {
    margin-bottom: 2rem;
}

a {
    color: light-dark(var(--color-dark), var(--color-lighter));
    text-underline-offset: 5px;
    text-decoration-color: light-dark(var(--color-accent-dark), var(--color-accent-light));

    &:hover {
        text-decoration: none;
        color: light-dark(var(--color-accent-dark), var(--color-accent-light));
    }
}

button {
    font-family: inherit;
    line-height: 1;
    border-radius: 0;
    border: none;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: .5;
}

a:focus,
button:focus {
    outline: none;
}

a:focus-visible,
button:focus-visible {
    outline: 2px solid light-dark(var(--color-dark), var(--color-light));
}

strong {
    font-weight: 800;
    color: light-dark(var(--color-accent-dark), var(--color-accent-light));
}

svg {
    margin-top: -0.125em;
    vertical-align: middle;
}

ul {
    padding-left: 2rem;
    margin-bottom: 1.5rem;

    & li {
        padding: 0.15rem 0;
    }

    & li::marker {
        color: light-dark(var(--color-accent-dark), var(--color-accent-light));
    }
}

code {
    background-color: light-dark(var(--color-lightest), var(--color-dark));
    color: light-dark(var(--color-accent-dark), var(--color-accent-light));
    padding: 0.05rem 0.2rem;
}

progress {
    appearance: none;
    width: 50px;
    height: 4px;
    background: light-dark(var(--color-light), var(--color-dark));
    border: none;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background: light-dark(var(--color-light), var(--color-dark));
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background: light-dark(var(--color-accent-dark), var(--color-accent-light));
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background: light-dark(var(--color-accent-dark), var(--color-accent-light));
}

.progress-area {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.wrap {
    padding-inline: 1rem;
}

@media(width > calc(786px + 2rem)) {
    .wrap {
        width: 786px;
        margin: auto;
        padding-inline: 0;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(width < 375px) {
    .progress-area progress,
    .progress-area small {
        display: none;
    }
}

main {
    padding-top: 1.5rem;
    border-top: 1px solid light-dark(var(--color-light), var(--color-dark));
}

.list {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    column-gap: 1rem;
    row-gap: 0.5rem;

    & a {
        text-decoration: none;
    }

    & a:hover {
        color: currentColor;
    }

    & a::after {
        content: '';
        position: absolute;
        inset: 0;
    }

    & a:focus-visible {
        outline: none;

        &::after {
            outline: 2px solid light-dark(var(--color-dark), var(--color-light));
        }
    }
}

.list-row {
    position: relative;
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    background-color: light-dark(var(--color-lightest), var(--color-darker));
    padding: 0.75rem 1rem;
    transition: box-shadow 300ms ease-in-out;
}

.list-row[data-flagged="1"]::before {
    content: '🏴‍☠';
    position: absolute;
    font-size: 1.1rem;
    top: -7px;
    left: -5px;
    border-radius: 100%;
    z-index: 1;
}

.list-row:hover {
    box-shadow: -3px 0 0 light-dark(var(--color-accent-dark), var(--color-accent-light));
}

ul.tag-list {
    display: flex;
    gap: .7rem;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.tag-list li {
    font-size: .8rem;
    color: light-dark(var(--color-dark), var(--color-light));
    background: transparent;
    padding: .3rem .5rem;
    border: 1px solid light-dark(var(--color-light), var(--color-dark));

    & span {
        color: light-dark(var(--color-neutral-light), var(--color-neutral-dark));
    }
}

.accent {
    color: light-dark(var(--color-accent-dark), var(--color-accent-light));
    text-align: right;
}

.icon {
    width: 1rem;
    margin-right: 1rem;
    fill: light-dark(var(--color-neutral-light), var(--color-neutral-dark));
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uppercase {
    text-transform: uppercase;
}

.dim {
    color: light-dark(var(--color-neutral-light), var(--color-neutral-dark));
    text-align: right;
}

.flush {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}
